// sass --watch css:css
$backgroundColor: #EDC3AE;
$bodyFont: sourceSansProLight;
$titleFont: sourceSansProBold;
$optionFont: sourceSansProSemiBold;

$btn-size: 8vw;

@font-face {
    font-family: retro;
    src: url(../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: sourceSansProLight;
    src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
}
@font-face {
font-family: sourceSansProBold;
src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}
@font-face {
font-family: sourceSansProSemiBold;
src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $bodyFont;
    background-color: $backgroundColor;
    font-size: 21px;
}

#app {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    canvas {
       border: 1px solid white;
       width: 100%;
       height: 100%;
    }
}
